<div class="row">
    <div class="col-12 text-center p-2">
        <h4>All Products</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <ng-container *ngIf="categoryList$ | async as apiResponse">
            <ng-container *ngFor="let item of apiResponse.data">
                <button class="btn btn-primary mx-2" (click)="getProductByCategory(item.categoryId)"  *ngIf="item.parentCategoryId == 0" > {{item.categoryName}}</button>
            </ng-container>
        </ng-container> 
    </div>
</div>

<div class="row"> 
    @for (item of productList; track 'productId') {
    <div class="col-3">
        <div class="box-shadow">
            <div class="card mt-2">
                <!-- <img class="img-fluid" [src]="item.productImageUrl" class="card-img-top" alt="..."> -->
                <img class="img-fluid" appLazyImage [attr.data-src]="item.productImageUrl" src="" class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title" title="{{item.productShortName}}">{{item.productShortName}}</h5>
                        </div>
                        <div class="col-4 text-end">
                            <p class="card-text"><span class="text-danger fw-semibold me-2">$ {{item.productPrice}}</span>
                                
                            </p>
                        </div>
                    </div>
                   
                  
                    <div class="row">
                        <div class="col-6">
                            <span><i class="fa-solid fa-star  m-0" style="color: #f1f50f;"></i></span>
                            <span><i class="fa-solid fa-star  m-0" style="color: #f1f50f;"></i></span>
                            <span><i class="fa-solid fa-star-half-stroke  m-0" style="color: #f1f50f;"></i></span>
                            <span class="text-muted">(25)</span>
                        </div>
                        <div class="col-6">
                            <p class="text-end pb-0 mb-0" (click)="addToCart(item.productId)"><button class="btn  text-end btn-sm btn-success p-2"><i 
                                        class="fa-solid fa-cart-plus fs-5" style="color: #0c0d0d;"></i></button></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    } 
</div>